@page
@model KontrolaNawykow.Pages.Admin.BansModel
@{
    ViewData["Title"] = "Panel Administracyjny";
}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Panel administracyjny - KontrolaNawyków</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Purple+Purse&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
</head>

<body>
    <script>
        function confirmDelete(id) {
            link = "/Admin/Bans?Delete=" + id;
            if(confirm("Czy na pewno usunąć ten wpis?") == true) window.location.href = link;
        }
    </script>
    <div class="main-container">
        @await Html.PartialAsync("/Pages/Components/_Navigation.cshtml")
        <div>
            <a href="/Admin/Reports">Przeglądaj zgłoszenia</a>
            <a href="/Admin/Bans" class="active">Przeglądaj blokady</a>
        </div>
        <div class="item-container">
            <div class="search-container">
                <h1>Blokady</h1>
                <form>
                    <label>Użytkownik:</label>
                    <input type="text" name="Search" />
                    <input type="submit" value="Szukaj" />
                </form>
                @if (!Model.bans.Any())
                {
                    <p class="alert-info">Brak blokad</p>
                    <a href="/Admin/Bans">Wyczyść filtry</a>
                }
                @if (Model.bans.Any())
                {                
                    <table id="bantable" class="tab-content">
                        <tr>
                            <td>Nałożona przez</td>
                            <td>Zablokowany użytkownik</td>
                            <td>Początek</td>
                            <td>Koniec</td>
                            <td>Akcje</td>
                        </tr>
                        @foreach (var ban in Model.bans)
                        {
                            <tr>
                                <td>@ban.Admin.Uzytkownik.Username</td>
                                <td>@ban.Uzytkownik.Username</td>
                                <td>@ban.DataPoczatku.ToString()</td>
                                <td>@ban.DataKonca.ToString()</td>
                                <td><a href="/Admin/Bans\@GetSearchParams()View=@ban.Id">Sprawdź szczegóły</a></td>
                            </tr>
                        }
                    </table>
                    <p><b>Strona: </b>@for (int i = 1; i <= Model.PageCount; i++)
                        {
                            <a href="/Admin/Bans?PageNumber=@i">@i</a> 
                        }
                    </p>
                }
            </div>
            @if(Model.View != null)
            {
                <div class="details-container">
                    <h1>Szczegóły blokady #@Model.View</h1>
                    @if(Model.displayedBan != null) 
                    {
                        <p>Blokujący/a: @Model.displayedBan.Admin.Uzytkownik.Username</p>
                        <p>Zablokowany/a: @Model.displayedBan.Uzytkownik.Username</p>
                        <p>Powód blokady: @Model.displayedBan.Powod</p>
                        <button onclick="confirmDelete(@Model.View)">Usuń(zniesienie blokady!)</button>
                    }
                    else
                    {
                        <p>Nie istnieje</p>
                    }
                </div>
            }            
        </div>
    </div>
</body>
</html>
@functions {
    string GetSearchParams()
    {
        string result = "?";
        if (Model.PageNumber > 1) result += "PageNumber=" + Model.PageNumber + "&";
        if (Model.Search != null) result += "Search=" + Model.Search + "&";
        return result;
    }
}
