@page
@model KontrolaNawykow.Pages.YourDietician.FindDieticiansModel
@{
	ViewData["Title"] = "Znajdź dietetyka";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    @if (Model.Dieticians.Count == 0)
    {
        <p>Na razie nie ma żadnych dietetyków</p>
    }
    else
    {
        foreach (var dietician in Model.Dieticians)
        {
            <div class="dietician-prof">
                @(dietician.Imie) @(dietician.Nazwisko)
                <br />
                Specjalizacja: @(dietician.Specjalizacja)
                <br />
                Adres email: @(dietician.Email)
                <br />
                Numer telefonu: @(dietician.Telefon)
            </div>
        }
    }
</body>
</html>