@page
@model KontrolaNawykow.Pages.YourDietician.FindDieticiansModel
@{
	ViewData["Title"] = "Znajdź dietetyka";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Znajdź dietetyka - KontrolaNawyków</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/diet-style.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Purple+Purse&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">

    <style>        
        .content-container {
            border: 2px solid #333;
            background-color: white;
            border-radius: 10px;
            overflow: hidden;
            margin: 0 10px;
            padding: 10px;
        }

        .dietician-prof {
            border: 1px solid #333;
            border-radius: 5px;
            overflow: hidden;
            margin: 10px;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="main-container">
        <div class="header-tabs">
            <div class="tabs-container">
                <a href="/Diet/Index" class="tab-button">Dieta</a>
                <a href="/ToDo/Index" class="tab-button">ToDo</a>
                @if (Model.adminCheck()) {<a href="/Admin/Dashboard" class="nav-tab">Admin</a>}
                <a href="/YourDietician/Index" class="tab-button active">Twój dietetyk</a>
                <a href="/Fridge/Index" class="tab-button">Lodówka</a>
                <a href="/Account/Logout" class="tab-button-logout">Wyloguj się</a>
            </div>
            <div class="profile-button">
                <a href="/Profile/Index" class="profile-link">Mój profil <i class="fas fa-user-cog"></i></a>
            </div>
        </div>

        <div class="content-container">
            @if (Model.Dieticians.Count == 0)
            {
                <p>Na razie nie ma żadnych dietetyków</p>
            }
            else
            {
                <h3>Lista dietetyków:</h3>
                foreach (var dietician in Model.Dieticians)
                {
                    <div class="dietician-prof">
                        @(dietician.Imie) @(dietician.Nazwisko)
                        <br />
                        Specjalizacja: @(dietician.Specjalizacja)
                        <br />
                        Adres email: @(dietician.Email)
                        <br />
                        Numer telefonu: @(dietician.Telefon)
                        <br />

                        <form method="GET">
                            <input type="hidden" name="ApplyToDietician" value="@(dietician.Id)" />
                            <button type="submit">Wyślij prośbę</button>
                        </form>
                    </div>
                }
            }
        </div>
    </div>
</body>
</html>