@page
@model KontrolaNawykow.Pages.Dietician.IndexModel
@{
	ViewData["Title"] = "Dietetyk";
	Layout = null;
}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Twój profil - KontrolaNawyków</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/dietician-style.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Purple+Purse&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">

    <style>
        .dietician-prof {
            border: revert;
            padding-block: revert;
            margin: revert;
            border-radius: revert;
            padding: revert;
        }
    </style>
</head>
<body>
    <div class="main-container">
        <div class="header-tabs">
            <div class="tabs-container">
                <a href="/Dietician/Index" class="tab-button active">Twój profil</a>
                <a href="/Dietician/Clients" class="tab-button">Twoi klienci</a>
                <a href="/Dietician/WaitingClients" class="tab-button">Osoby oczekujące</a>
            </div>
        </div>
    </div>
    <div class="content-container">

        <h3>Twoje dane</h3>

        <div class="dietician-prof">
            @(Model.CurrentDietician.Imie) @(Model.CurrentDietician.Nazwisko)
            <br />
            Specjalizacja: @(Model.CurrentDietician.Specjalizacja)
            <br />
            Email: @(Model.CurrentDietician.Email)
            <br />
            Numer telefonu: @(Model.CurrentDietician.Telefon)
            <br />
        </div>
    </div>
</body>
</html>